
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #8b9dc3;
  background: linear-gradient(180deg, #3b5998, #8b9dc3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

table thead tr {
  height: 45px;
  background: #2f4166;
}

table tbody tr {
  height: 50px;
}

table tbody tr:last-child {
  border: 0;
}

table td, table th {
  text-align: left;
}

td {
  padding: 5px 10px 5px 10px;
}

th {
  font-size: 17px;
  color: #ffffff;
  font-weight: unset;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
}

tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

tbody tr {
  font-size: 14px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #efefef;
}

th:first-child, td:first-child {
  padding-left: 25px;
}
